[Unit]
Description=Asterfusion x104s-xgt Platform initialization service
Before=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/asterProcess/main.py install
ExecStop=/usr/local/bin/asterfusion_x104s_xgt_util.py uninstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
