#!/usr/bin/make -f

export INSTALL_MOD_DIR:=extra

SHELL = /bin/bash
PACKAGE_PRE_NAME := sonic-platform-asterfusion
ifneq ($(CROSS_BUILD_ENVIRON), y)
KVERSION   ?= $(shell uname -r)
endif
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)
MODULE_DIRS:= cx308p-48y-n cx532p-n
MODULE_DIR := modules
UTILS_DIR := utils
SERVICE_DIR := service
SCRIPTS_DIR := scripts
CONF_DIR := conf
PROCESS_DIR := asterProcess
MODULE_ALLDIRS := $(shell find . -mindepth 3 -maxdepth 3 -type d | grep modules | grep -v '\.tmp*')

%:
	dh $@ --with systemd,python2,python3 --buildsystem=pybuild

clean:
	(for mod in $(MODULE_DIRS); do \
		for sub_dir in $(MODULE_ALLDIRS); do \
			if [ -n $(findstsring $${mod}, $${sub_dir}) ]; then \
				make modules -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${sub_dir} clean;\
			fi;\
		done \
	done)
	make modules -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/common/modules/cpss clean;
	dh_testdir
	dh_testroot
	dh_clean

build:
	(for mod in $(MODULE_DIRS); do \
		for sub_dir in $(MODULE_ALLDIRS); do \
			if [ -n $(findstsring $${mod}, $${sub_dir}) ]; then\
				make modules -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${sub_dir}; \
			fi;\
		done \
	done)
	
	make modules -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/common/modules;

binary: binary-arch binary-indep
	# Nothing to do

binary-arch:
	# Nothing to do


binary-indep:
	# Custom package commands
	(for mod in $(MODULE_DIRS); do \
		dh_installdirs -p$(PACKAGE_PRE_NAME)-$${mod} /$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
		dh_installdirs -p$(PACKAGE_PRE_NAME)-$${mod} /usr/local/bin; \
		dh_installdirs -p$(PACKAGE_PRE_NAME)-$${mod} /usr/bin; \
		dh_installdirs -p$(PACKAGE_PRE_NAME)-$${mod} /lib/systemd/system; \
		cp $(MOD_SRC_DIR)/$${mod}/$(MODULE_DIR)/*/*.ko debian/$(PACKAGE_PRE_NAME)-$${mod}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
		cp $(MOD_SRC_DIR)/common/$(MODULE_DIR)/cpss/*.ko debian/$(PACKAGE_PRE_NAME)-$${mod}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
		cp $(MOD_SRC_DIR)/$${mod}/$(UTILS_DIR)/* debian/$(PACKAGE_PRE_NAME)-$${mod}/usr/local/bin/; \
		cp $(MOD_SRC_DIR)/$${mod}/$(SERVICE_DIR)/*.service debian/$(PACKAGE_PRE_NAME)-$${mod}/lib/systemd/system/; \
		cp $(MOD_SRC_DIR)/$${mod}/$(SCRIPTS_DIR)/* debian/$(PACKAGE_PRE_NAME)-$${mod}/usr/local/bin/; \
		if [ -f "$(MOD_SRC_DIR)/$${mod}/idtcm.bin" ]; then \
			dh_installdirs -p$(PACKAGE_PRE_NAME)-$${mod} /lib/firmware; \
			cp $(MOD_SRC_DIR)/$${mod}/idtcm.bin debian/$(PACKAGE_PRE_NAME)-$${mod}/lib/firmware/; \
		fi; \
	done)

	dh_testroot
	dh_install
	dh_installchangelogs
	dh_installdocs
	dh_systemd_enable
	dh_installinit
	dh_systemd_start
	dh_link
	dh_fixperms
	dh_compress
	dh_strip
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
.PHONY: build binary binary-arch binary-indep clean
