[Unit]
Description=Asterfusion x206y-48gt Platform initialization service
Before=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/asterProcess/main.py install
ExecStop=/usr/local/bin/asterfusion_x206y_48gt_util.py uninstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
