[Unit]
Description=Asterfusion cx204y-48s Platform initialization service
Before=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/asterProcess/main.py install
ExecStop=/usr/local/bin/asterfusion_cx204y_48s_util.py uninstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
